@media only screen and (max-width: 991.98px) {
    .block-under-md {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .center-under-md {
        margin-left: auto;
        margin-right: auto;
    }

    .full-space-tab {
        width: 24%;
    }
}

@media only screen and (max-width: 767.98px) {
    .block-under-md {
        display: block;
        width: 100%;
    }

    .center-under-md {
        margin-left: auto;
        margin-right: auto;
    }
}

.spaced-tab {
    margin-left: 2px;
    margin-right: 2px;
}

.tabs-no-border {
    border: medium none;
}